html,body{
    height: 100%;
}
body{
    background-color:darkgoldenrod
    
   
}
nav{
 background-image: linear-gradient(to right, orange , rgba(172, 255, 47, 0.811));
    height: 100px;
}
.container{
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 50px;
    padding-left: 300px;
    padding-right: 300px;
}
li:first-child{
    margin-right: auto;
}
a{
    text-decoration: none;
    color: black;
    font-style: italic;
    font-weight: bold;
}
li{
    list-style: none;
    font-size: 20px;
    margin:0 40px;
}
img{
    width: 100%;
    height: 200px;
}
.food-container{
    max-width: 1200px;
    padding:2rem 4rem;
    
    width: 100%;
    margin-top: 5px;
}
.shopping-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    justify-content: center;
align-items: center;
gap: 1.5rem;
}
h2 {
margin-bottom: 15px;
font-style: italic;
font-weight:bolder;

}
.food-box{
padding: 15px;
background-color: white;
border-radius: 3px;
box-shadow: 1px 1px 2px black;


}
.food-img{
overflow: hidden;
}
.food-img img:hover{
transform: scale(1.5);
}

.food-img img{
transition: 0.5s;
object-fit: cover;
aspect-ratio: 1/1;
}
.item{
    padding: 5px;
    color: brown;
    font-weight:bold;
    text-align: center;
  
}
.description{
text-align: center;
color: blue;
margin-top: 10px;
margin-right: 20px;
}
.description:hover{
    color: red;
}

.select-items1{
    border:2px double red;
    border-radius: 20px;
    width: 50%;
  margin-top:8%;
 margin-left: 25%;
 background-color: rgba(96, 244, 217, 0.326);
}

.p_title{
    font-size: 25px;
    margin:10px 35px;
    font-weight: bold;
}
.p_description{
    text-indent: 100px;
    font-size: 20px;
    margin: 0 30px;
    
}
#img{
    width: 300px;
    height: 200px;
    margin: auto;
    object-fit: cover;
    overflow: hidden;
}
h2{
    
    font-size: 25px;
    text-align: center;
    margin: 30px;
    text-shadow:2px 0px red;
}
#btn1{
    border-radius: 5px;
    padding:10px 50px;
    display: block;
     margin: 10px 50px;
     margin-left: 200px;
    background-color: green;
}
#btn2{
    border-radius: 5px;
    padding:10px 50px;
       display: block;
       margin: 10px 50px;
  margin-left: 200px;
    
    background-color: red;
}
@media(max-width:800px){
    #btn1,#btn2{
        padding:10px 30px; 
        margin: 5px auto;
    }
}
@media(max-width:650px){
   .p_title{
    font-size: 15px;
   }
   #img{
    width: 200px;
   }
   .p_description{
    font-size: 15px;
   }
}
@media(max-width:500px){
    .container{
        display: flex;
        align-items: flex-start;
    }
    li:last-child{
 margin-left: auto;
    }
    .p_description{
    text-indent: 10px;
   }
   #img{
    width: 100px;
    height: 100px;
   }
}