

body{
    background-color: blueviolet;

}

.container1{
    
    border: 2px solid red;
    width: 65%;
   height: 500px;
   background-color: white;
   margin-top:8%;
 margin-left: 20%;
 object-fit: cover;
overflow: hidden;
}
.container2{
display: grid;
 grid-template-columns: 50% 50%;
 height: 100%;

}
img{
    width:100%;
    height: 100%;
}
.container3{
    background-color: rgba(50, 138, 205, 0.285);
    height: 100%;
}
h3{
    text-align: center;
    font-size: 30px;
    padding: 30px 0;
    color: brown;
}
p{
    margin:10px 20px;
    font-weight: bold;
    font-size: 20px;
   
}
span{
    color: red;
    display: block;
    text-align: center;
}
input{
    margin: 0 10%;
    padding: 2% 8%;
    text-align: center;
}
button{
    display: block;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: green;
}
@media(max-width:700px){
    .container2{
        display: grid;
        grid-template-columns: 100%;
    }
    img{
        display: none;
    }
}