<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/home1.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="topic1">
        <h2>Student Management System</h2>
           
        </div>

    <div class="table-border1">
       
        <div class="table-border">
        {% if data %}
    
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th >Name</th>
                    <th>Age</th>
                    <th>City</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Degree</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
           
                {% for i in data %}
                <tr>
                    
                    <td>{{i.Name}}</td>
                    <td>{{i.Age}}</td>
                    <td>{{i.city}}</td>
                    <td>{{i.Email}}</td>
                    <td>{{i.Mobile}}</td>
                    <td>{{i.Degree}}</td>
                 <td >
                    <div class="update-block">
                        <a  href="update/{{i.id}}" class="update-btn">update</a>
                    </div></td>
                    <td><div class="delete-block">
                        <a class="delete-btn" href="delete/{{i.id}}">delete</a>
                    </div></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      {% endif %}
     
      </div>
    </div>
    <div id="new">
        <a class="btn btn-success" href="/add">New Registration</a>
    </div>
</body>
</html>