
<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
 
 <div class="topic">
<h2>Student Management System</h2>
   
</div>
 


 <div class="formborder1">
    <div class="formborder2"> 
      <h2>Registration Form</h2>
      <form action="add" method="post" autocomplete="off"> <!-- here add(function name of view.py)-->
               {% csrf_token %}
         <label for="s_name">Enter Name:</label>
         <input type="text" placeholder="Enter Name" name="name" id="s_name" required >
         <label for="s_age">Age:</label>
         <input type="number" placeholder="Enter Age" name="age" id="s_age" required>
         <label for="s_mail">Email:</label>
         <input type="email" placeholder="Enter mail id" name="mail" id="s_mail" required>
         <label for="s_city">City:</label>
         <input type="text" placeholder="Enter city" name="city" id="s_city" required >
         <label for="s_degree">Degree:</label>
         <input type="text" placeholder="Enter Degree" name="degree" id="s_degree" required >   
         <label for="s_mobile">Mobile No:</label>
         <input type="number" placeholder="Enter Number" name="mobile" id="s_mobile" required>  
         <input type="submit" value="Register" class="register" >
         <input type="reset" value="Clear"  class="clear">
      </form>
    </div>
 </div>
 
 
</body>
</html>
