<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>
<body>
  
        <!--
    <ul class="full-view" [style.display]="sidebar? 'none':'flex'" >
        
        <li><a href="#">KNS SHOP</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Items</a></li>
        <li><a href="#">Order</a></li> 
        <li class="fa-sharp fa-solid fa-bars" (click)="handlesidebar()"></li>
    </ul>
    <ul class="mobile-view" [style.display]="sidebar? 'flex' : 'none'">
    
     <ul class="mobile-view">
         
       <li class="fa-duotone fa-solid fa-xmark"(click)="handleclosebar()"></li> 
        <li><a href="#" >KNS SHOP</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Items</a></li>
        <li><a href="#">Order</a></li> 
    </ul> -->
    <nav>

    <ul class="full-view"  [style.display]="sidebar? 'none':'flex'">
    <li><a href="#">Healthy Foods</a></li>
       
        <li><a [routerLink]="['home']">Recepies</a></li>
        
        <li class="fa-sharp fa-solid fa-bars" (click)="handlesidebar()"></li>
    </ul>
    
     <ul class="sidebar" [style.display]="sidebar? 'flex' : 'none'">
          <li class="fa-duotone fa-solid fa-xmark" (click)="handleclosebar()"></li>
        <li><a href="#" >Healthy Foods</a></li>
          <li><a [routerLink]="['home']">Recepies</a></li>
           <li><a [routerLink]="['home/itemform']">Add New Recepies</a></li>
    </ul>
   </nav>
</body>
</html>
