*{
    margin: 0;
    padding: 0;

}
body{
    min-height: 100vh;
   
    background: url('Untitled\ design\ \(1\).jpg') no-repeat center;
   background-size: 100% 100%;
   object-fit: cover;
}
nav{
 background-image: linear-gradient(to left, red , yellow);
}
.full-view{
    display:flex;
   align-items: flex-end;
  justify-content: flex-end;
padding: 10px 50px;
  
  
}
.full-view li{
  list-style: none;
  margin: 25px;
}
.full-view li:first-child{
    margin-right: auto;
}
nav a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}
nav a:hover{
    background-color: olive;
    padding: 10px;
    border-radius: 10px;
}
.fa-bars{
    font-size: 30px;
    display: none;
}
.sidebar{
    display: none;
}



@media (max-width:500px) {
   
    .sidebar{
        
     /*  display: flex; */
       flex-direction: column;
      background-image:linear-gradient(to left,blueviolet,orangered) ;
       align-items: flex-start;
       justify-content:flex-start;
       height: 100vh;
      
    }
    .sidebar li{
        margin: 15px;
        padding-left: 50px;
        list-style: none;
        padding-top: 20px;
        
    }
    .sidebar li a{
      color:black;  
    }
    .fa-xmark{
        font-size: 40px;
        margin: 20px;
    }
    .sidebar li:first-child{
        margin-left: auto;
        margin-top: 30px;
        margin-right: 50px;
        
    }
 
     .full-view li:first-child,.full-view li:last-child{
        display: flex;
        font-size: 15px;
    }
    .full-view a{
        font-size: 20px;
    }
   .full-view  li{
        display: none;
    }
    
}
@media (min-width:500px) and (max-width:650px) {   /* space around and is important */
    .full-view a{
        font-size: 15px;
    }
}

/*
.full-view{
    background-color: gainsboro;
    display:flex;
    height: 100px;
    justify-content:flex-end;
}
.full-view li{
    list-style: none;
    padding: 40px;
    font-size: 25px;
    text-decoration: none;
}
.full-view li:first-child{
  margin-right: auto;
  
}
.full-view li:last-child{
    display: none;
}
.full-view a{
    text-decoration: none;
    color: black;
}
.full-view a:hover{
 background-color: greenyellow;
 padding: 5px;
 border-radius: 5px;
}
.mobile-view{
    display: none;
}
@media (max-width:500px) {
    .mobile-view{
         background-color:gray;
         height: 675px;
        display: flex;
        flex-direction: column;
         justify-content: flex-start;
         align-items: flex-start;
        backdrop-filter: blur(10px);}
    .mobile-view li:first-child{
        margin-left: auto;
        font-size: 30px;
    }
    
    .mobile-view li{
   list-style: none;
    font-size:20px ;
  
    
    } 
    .mobile-view a{
        text-decoration: none;
        color:black;
       
        
    }
    .full-view li{
        display: none;
        }
        .full-view li:last-child,.full-view li:first-child{
            display: flex;
        }
   .fa-xmark{
    padding: 10px;
   
  }

}
@media (min-width:500px) and (max-width:650px){
.full-view li{
    font-size: 15px;
}
}
*/